.banner-pages{
    display: flex;
    justify-content: center;
    align-items: center;
}
.shop-category{
 
     
}
.shopcategory-products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 20px;
    gap: 15px;
    width: 80%;
}